%header.jumbotron
  %h1
    %span.text-quiet Exception /
    %span Web Hooks


.row
  .span12
    = simple_form_for(@web_hook, :html => {:class => 'form-vertical'}) do |f|
      = f.input(:secure)
      = f.input(:url, :input_html => {:class => 'span6'})
      = f.input(:event, :collection => WebHook::EVENT_TYPES)
      .form-actions
        = f.submit
