%header.jumbotron
  %h1
    %span.text-quiet Exception /
    %span Filters

.row
  .span12
    = simple_form_for(resource, :html => {:class => 'form-vertical'}) do |f|
      %fieldset
        %legend Limiting Parameters (at least one required)
        = f.input(:class_name)
        = f.input(:message, :input_html => {:class => 'span6', :rows => '3'})
        = f.input(:user_agent, :input_html => {:class => 'span6'})
        = f.input(:request_params, :label => "Request parameters to match (in JSON)")
      %fieldset
        %legend General Parameters
        = f.input(:tag)
        = f.input(:environment)
        = f.input(:target_url, :input_html => {:class => 'span6'})
        = f.input(:hostname)
      .form-actions
        = f.submit
